<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Course Timetable</title>
    <link rel="stylesheet" href="bootstrap-v5.3.3.min.css">
    <script src="vue-v3.4.26.js"></script>
    <script src="bootstrap-v5.3.3.min.js"></script>
    <script src="timetable.js"></script>
    <style>
        th, td {
            text-align: center;
            vertical-align: middle;
        }
        .smaller {
            font-size: x-small;
            font-weight: normal;
        }
        .bigger {
            font-size: x-large;
        }
    </style>
</head>
<body>
    <div id="app">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="6" class="bigger">2023学年第二学期 课程表 <span class="smaller">({{ this.student }})</span></th>
                </tr>
                <tr>
                    <td colspan="6">
                        <button class="btn btn-sm mx-1" :class="this.getWeekClass(week-1)" v-for="week in this.totalWeeks" @click="onWeek(week-1)">第 {{ week }} 周</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm" :class="this.getCourseClass(entry[0])" v-for="(entry, id) in getSummary()" @click="onCourse(entry[0])">{{ entry[1].name }} ({{ entry[0] }}) <span class="badge text-bg-primary rounded-pill">{{ entry[1].times }}</span></li>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>时间段</th>
                    <th>节次</th>
                    <th style="white-space: pre-line;">
                        <div v-html="getWeekDay(1)"></div>
                    </th>
                    <th style="white-space: pre-line;">
                        <div v-html="getWeekDay(2)"></div>
                    </th>
                    <th style="white-space: pre-line;">
                        <div v-html="getWeekDay(3)"></div>
                    </th>
                    <th style="white-space: pre-line;">
                        <div v-html="getWeekDay(4)"></div>
                    </th>
                    <th style="white-space: pre-line;">
                        <div v-html="getWeekDay(5)"></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="period in 8" :key="period">
                    <th v-if="period === 1" rowspan="4">上午</th>
                    <th v-if="period === 5" rowspan="4">下午</th>
                    <th style="white-space: pre-line;">
                        <div v-html="getPeriod(period)"></div>
                    </th>
                    <td v-for="day in 5" :key="day" style="white-space: pre-line;">
                        <div v-html="getCourse(this.week+1, day, period)" :class="getCourseHighlight(this.week+1, day, period)"></div>
                    </td>
                </tr>
                <tr v-for="period in [9,10]" :key="period">
                    <th v-if="period === 9" rowspan="2">晚上</th>
                    <th style="white-space: pre-line;">
                        <div v-html="getPeriod(period)"></div>
                    </th>
                    <td v-for="day in 5" :key="day" style="white-space: pre-line;">
                        <div v-html="getCourse(this.week+1, day, period)"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                const startDate = new Date('2024-02-11'); // 开学第一周的周一日期
                const totalWeeks = 16; // 这学期总共多少周
                const week = this.getCurrentWeekNumber(startDate);
                const student = "李仕博";

                return {
                    timetable,
                    startDate,
                    week,
                    totalWeeks,
                    student,
                    activeCourseId: null,
                }
            },
            methods: {
                onWeek(week) {
                    this.week = week;
                },
                onCourse(id) {
                    this.activeCourseId = id;
                },
                getPeriod(period) {
                    const periods = ['08:20 ~ 09:05', '09:10 ~ 09:55', '10:20 ~ 11:05', '11:10 ~ 11:55', '13:00 ~ 13:45', '13:50 ~ 14:35', '15:00 ~ 15:45', '15:50~ 16:35', '18:00 ~ 19:00', '19:00 ~ 20:00'];

                    return `第 ${period} 节\n<span class="smaller">(${periods[period-1]})</span>`;
                },
                getWeekDay(day) {
                    const days = ['星期一', '星期二', '星期三', '星期四', '星期五'];
                    const millisecondsInADay = 1000 * 60 * 60 * 24;
                    const millisecondsInAWeek = millisecondsInADay * 7;
                    const date = new Date(this.startDate.getTime() + this.week * millisecondsInAWeek + day * millisecondsInADay);
                    const dateString = date.toLocaleDateString('zh-CN', {year: 'numeric', month: '2-digit', day: '2-digit'}).replace(/\//g, '-');

                    return `${days[day-1]}\n<span class="smaller">${dateString}</span>`;
                },
                getCourse(week, day, period) {
                    const schedule = this.getSchedule(week, day, period);

                    if (schedule) {
                        const id = schedule.id;
                        const course = this.timetable.courses.find(course => course.id === id);

                        if (course) {
                            const name = course.name;
                            const location = schedule.location;
                            const teacher = schedule.teacher || course.teacher;
                            const score = course.score;
                            const kind = course.kind == 1 ? '考查' : course.kind == 2 ? '考试' : '未安排';

                            return `<span class="fw-bold">${name}</span> (${id})\n<span class="smaller">${location} ${teacher}\n${kind} 学分(${score})<span>`;
                        } else {
                            return `No Course(${id})`;
                        }
                    } else {
                        return '';
                    }
                },
                getCourseHighlight(week, day, period) {
                    const schedule = this.getSchedule(week, day, period);

                    if (schedule) {
                        const id = schedule.id;
                        const course = this.timetable.courses.find(course => course.id === id);

                        if (course && this.activeCourseId === id) {
                            return 'text-bg-primary';
                        }
                    }

                    return '';
                },
                getSchedule(week, day, period) {
                    const schedule = this.timetable.schedules.find(schedule => {
                        if ((typeof schedule.week) === 'number' && schedule.week !== week) {
                            return false;
                        } else if ((typeof schedule.week) === 'object' && !schedule.week.includes(week)) {
                            return false;
                        }

                        if (schedule.day !== day) {
                            return false;
                        }

                        if (!schedule.period.includes(period)) {
                            return false;
                        }

                        return true;
                    });

                    return schedule;
                },
                getSummary() {
                    const week =  this.week + 1;
                    const schedules = [];

                    this.timetable.schedules.forEach(schedule => {
                        if ((typeof schedule.week) === 'number' && schedule.week === week) {
                            schedules.push(schedule)
                        } else if ((typeof schedule.week) === 'object' && schedule.week.includes(week)) {
                            schedules.push(schedule)
                        }
                    });

                    const summary = new Map();

                    schedules.forEach(schedule => {
                        const id = schedule.id;

                        if (summary.has(id)) {
                            summary.get(id).times += schedule.period.length;
                        } else {
                            const times = schedule.period.length;
                            const name = this.timetable.courses.find(course => course.id === id).name;

                            summary.set(id, {name, times});
                        }
                    });

                    return summary;
                },
                getCurrentWeekNumber(startDate) {
                    const currentDate = new Date();
                    const timeDifference = currentDate.getTime() - startDate.getTime();
                    const millisecondsInAWeek = 1000 * 60 * 60 * 24 * 7;
                    const week = Math.floor(timeDifference / millisecondsInAWeek);
                
                    return week;
                },
                getWeekClass(week) {
                    if (this.week === week) {
                        return 'btn-primary';
                    } else {
                        if (this.getCurrentWeekNumber(this.startDate) === week) {
                            return 'btn-outline-success';
                        } else {
                            return 'btn-outline-primary';
                        }
                    }
                },
                getCourseClass(id) {
                    if (this.activeCourseId === id) {
                        return 'btn-primary';
                    } else {
                        return 'btn-outline-primary';
                    }
                },
            }
        })

        app.mount('#app')
    </script>
</body>
</html>
